*{
  font-family: 'Poppins', sans-serif;
  
}
body{
  margin: 0;
  /* box-sizing: border-box; */
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav--bar{
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
	justify-content: center;
	margin-bottom: 1em;
  margin-top: 20px;
	box-shadow: 0px 2.98256px 7.4564px rgba(255, 82, 82, 0.397);
	background-color: #F55A5A;
}

.cards > img{
  margin-left: 30px;
  border-radius: 20px;
}
.card--list{
  display: flex;
	flex-direction: column;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	background-color: #fffbf4;
	border-radius: 10px;
}
.cards {
	color: #2B283A;
	display: flex;
	padding: 3em;
}


/* .card-image-div {
	margin-right: 3em;
}

.cards-image-div img {
	width: 20vh;
	border-radius: 9px;
	margin-bottom: 9px;
} */

.cards--props {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card--location {
	display: flex;
	align-items: center;
	max-height: 1em;
	text-align: center;
  
}