*{
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav--bar{
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
	justify-content: center;
	margin-bottom: 1em;
  margin-top: 20px;
	box-shadow: 0px 2.98256px 7.4564px rgba(255, 82, 82, 0.397);
	background-color: #F55A5A;
}